:root {
  --primary: rgb(1, 1, 133);
  --secondary: skyblue;
  --tertiary: orangered;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}

/* global message */
.global {
  background: var(--secondarys);
}
.global > div {
  display: flex;
  justify-content: space-between;
}

/* nav bar */
header {
  background-color: var(--primary);
  color: aliceblue;
  padding: 10px 0;
  font-size: 20px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: white;
  color: var(--primary);

  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 2px dotted var(--primary);
  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 1rem;
}
header ul li:hover {
  cursor: pointer;
  background-color: brown;
  transform: scale(1.5);
}

/* hero section */
/* latest post section */
/* Reccomendation */
/* subscribe section */
/* footer */
