:root {
  --primary: rgb(1, 1, 133);
  --secondary: skyblue;
  --tertiary: orangered;
  --shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.414);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}

/* global message */
.global {
  background: var(--secondarys);
}
.global > div {
  display: flex;
  justify-content: space-between;
}

/* nav bar */
header {
  background-color: var(--primary);
  color: aliceblue;
  padding: 10px 0;
  font-size: 20px;
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  background: white;
  color: var(--primary);

  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo div {
  border: 2px dotted var(--primary);
  width: 70px;
  height: 70px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li {
  margin-left: 1rem;
}
header ul li:hover {
  cursor: pointer;
  background-color: brown;
  transform: scale(1.5);
}

/* hero section */
.hero {
  background: url(./asests/img/hero.jpg) no-repeat center;
  background-size: cover;
  height: 60vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  width: 450px;
  background-color: rgba(0, 0, 0, 0.324);
  color: white;

  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content hr {
  width: 100%;
}
/* latest post section */

.latest {
  background: url(asests/bbg.jpg) no-repeat center;
}
.main {
  display: flex;
}
.articles {
  background-color: rgb(192, 192, 245);
  width: 66%;
}
article {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  box-shadow: var(--shadow);
  background: rgba(255, 255, 255, 0.35);

  border-radius: 10px;
  margin-bottom: 12px;
  padding: 20px 16px;
}

article .art-img {
  width: 350px;
}
article.btn {
  float: right;
}
.side-links {
  background: pink;
  width: 34%;
}

/* Reccomendation */
/* subscribe section */
/* footer */

footer {
  background: var(--primary);
  color: white;
  padding: 64px;
  text-align: center;
  margin-top: 30px;
}
